<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="shortcut icon" href="https://cdn.discordapp.com/attachments/987734229469253674/992747956056895508/Copy_of_Copy_of_Copy_of_EXAL_1024_1024px_SoundCloud_Banner_YouTube_Channel_Art_1000_1000px_27.png" />

	<title>Login</title>

	<link href="../assets/css/new.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<body style="font-family: Inter; sans-serif;">
	<main style="background: url('https://cdn.discordapp.com/attachments/987734229469253674/1004354966238023761/Copy_of_Copy_of_citric_7.png');" class="d-flex w-100">
		<div class="container d-flex flex-column">
			<div class="row vh-100">
				<div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
					<div class="d-table-cell align-middle">

						<div class="text-center mt-4">
							<p style="color: white;" class="lead">
                   <img src="https://cdn.discordapp.com/attachments/987734229469253674/992747956056895508/Copy_of_Copy_of_Copy_of_EXAL_1024_1024px_SoundCloud_Banner_YouTube_Channel_Art_1000_1000px_27.png" height=90 width=90><br><br>
							</p>
						</div>

						<div style="background-color: #2b2b2d; border: 3px solid #38383b;" class="card">
							<div class="card-body">
								<div class="m-sm-5">
									<form>
										<div>
											<label class="form-check text-center mt-3">
            <span class="form-check-label text-center mt-3 text-white">
              Your email and Discord username/tag will be sent to us for account management purposes.
            </span><br><br>
          </label>
										</div>
										<div class="text-center mt-3">
											<a href="../login" style="border-radius: 8px;" class="btn-secondary">Login using Discord</a>
										</div>
									</form>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</main>

	<script src="../assets/js/app.js"></script>

</body>

</html>
